
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="Create" class="btn btn-info">Create Product</a>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Quantity</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.Id</td>
                <td>@p.Quantity</td>
            </tr>
        }
    </tbody>
</table>

