
@{
    ViewBag.Title = "Personal_Info";
}

<h2>Personal Infos</h2>
<table class="table table-bordered">
    <tr>
        <td>
            Name:
        </td>
        <td>
            Md. Mobarak Hossain
        </td>
    </tr>
    <tr>
        <td>
            Father's Name:
        </td>
        <td>
            Md. Asad Ullah
        </td>
    </tr>
    <tr>
        <td>
            Mother's Name:
        </td>
        <td>
            Safia Khatun
        </td>
    </tr>
    <tr>
        <td>
            Address:
        </td>
        <td>
            Hemayetpur,Savar
        </td>
    </tr>
</table>


<br />
<a class="btn btn-info" href="Index">Home</a>
<a class="btn btn-danger" href="Education">Education</a>
<a class="btn btn-info" href="Projects">Projects</a>
<a class="btn btn-warning" href="Reference">Reference</a>