
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<table class="table table-bordered">
    <tr>
        <th>
            Project's Name
        </th>
        <th>
            Language
        </th>
        <th>
            Framework
        </th>
    </tr>
    <tr>
        <td>
            Library Management System
        </td>
        <td>
            Java
        </td>
        <td>
            -
        </td>
    </tr>
    <tr>
        <td>
            Inventory Management System
        </td>
        <td>
            C#
        </td>
        <td>
            -
        </td>
    </tr>
    <tr>
        <td>
            University Portal
        </td>
        <td>
            php,javascript
        </td>
        <td>
            -
        </td>
    </tr>
    <tr>
        <td>
            Ecommerce Platform
        </td>
        <td>
            php,javascript
        </td>
        <td>
            Laravel
        </td>
    </tr>
</table>


<br />
<a class="btn btn-info" href="Index">Home</a>
<a class="btn btn-primary" href="Personal_Info">Personal Info</a>
<a class="btn btn-danger" href="Education">Education</a>
<a class="btn btn-warning" href="Reference">Reference</a>


