
@{
    ViewBag.Title = "Reference";
}

<h2>Reference</h2>

Name: XYZ
<br />
Email: XYZ@gmail.com
<br />
Phone: 01xxxxxxx
<br />


<br />
<a class="btn btn-info" href="Index">Home</a>
<a class="btn btn-primary" href="Personal_Info">Personal Info</a>
<a class="btn btn-danger" href="Education">Education</a>
<a class="btn btn-info" href="Projects">Projects</a>

